%h1 All Albums
%p Find me in app/views/albums/index.html.haml
%table#albums
  %thead
    %tr
      %th Name
      %th Created on
      %th Comments
      %th Links
    %tbody
      - @albums.each do |album|
        %tr
          %td= album.name
          %td= album.created.strftime("%B %d,%y")
          %td= album.comments
          %td= link_to "More about #{album.name} album", album_path(album)
=link_to 'Add new album', new_album_path
