%h1 Photos#new
%p 
="Adding a new photo to " + @album.name + " album" 
%h2 Create a new Photo
= form_tag album_photos_path(@album), :method => :post do
  = label :photo, :caption, 'Caption'
  = text_field :photo, :caption
  = label :photo , :snapped, 'Snapped on' 
  = date_select :photo, :snapped
  = label :photo, :size, 'size in pixels'
  = text_field :photo, :size, size: "24x6"
  = submit_tag 'Save changes'
